*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://t4.ftcdn.net/jpg/03/88/80/99/360_F_388809926_87rKqTigDmzM3qk6DunfrCFKm9GGxRQv.jpg");
    background-attachment: fixed;
}
/* building the header of the page using flexbox and want to increase the front of the h1 to 60px*/
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: solid 5px black;
    background-color: lightpink;
    }
    h1 {
        font-size: 100px;
    }
    /* centering the loveBox and making it more eye pleasing for user */
.loveBox {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loveBoxForm {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 40px;
    height: 300px;
    border: solid 1px black;
    margin-top: 30px;
    background-color: lightpink;
    width: 500px;
    border-radius: 15px;
}
.loveBoxForm p {
    font-size: 100px;
}
/* div inside of the form holding boy and girl */
.loveBoxForm div {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 300px;
    font-size: 50px;
}
/* the submit button */
.submitButton {
    font-size: 50px;
    width: 200px;
    height: 80px;
    border-radius: 25px;
    background-color: lightcoral;
}
/* the ul and li */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}
 /* the continers around card */
.boxes {
    background-color: lightpink;
    border: 10px solid black;
 }
/* the name age and info box */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h4{
    font-size: 100px;
}

.age {
    font-size: 80px;
}

.description{
    font-size: 60px;
}
/* box containing like and dislike */
.likeDislike{
    display: flex;
    justify-content: space-between;
    height: 100px;
    }
    
    .like {
        width: 200px;
        border-radius: 10%;
        background-color: rgb(90, 176, 90);
        font-size: 60px;
    }
    
    .dislike {
        width: 200px;
        border-radius: 10%;
        background-color: lightcoral;
        font-size: 60px;  
    }